/* Cambio color/forma del input type range del SurveyForm.jsx--------------------- */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 8px;
  background: #ffffff; /* Color del track */
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #5d00ff; /* Color del thumb */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #5d00ff; /* Color del thumb */
  cursor: pointer;
}


/* Para mostrar el valor del input type range en la esquina  ------ SurveyForm.jsx */
.range-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

.range-value {
  position: absolute;
  top: 20px;
  left: 98%;
  font-weight: bold;
  color: white;
  pointer-events: none;
}
/* -------------------------------------------------------------------------------- */
